# This is a comment.
# Each line is a file pattern followed by one or more owners.
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# if you are adding a service be sure to add a / to the end so all subdirectories and files are included
# Last pattern wins so any negative cases can be put with no owners on its own line after positive cases to not trigger auto-tagging
# Multiple owners can be set, i.e. /app/services/settings/ @Unity-Technologies/unity-dashboard-team @celim307

# Be sure to ask in `#devs-unity-dashboard` to invite your github handle (and your team's handle if applicable)
# to the repository with `write` permissions. Unity developers can contribute to the repo by default but the CODEOWNERS
# file will not tag members unless they are explicitly invited to the repository.

# repo root files

# /* @Unity-Technologies/unity-dashboard-team
# /yarn.lock
# /package.json

# github
/.github/ @Unity-Technologies/unity-dashboard-team

* @chipcooks
