# This is a comment.
# Each line is a file pattern followed by one or more owners.
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# if you are adding a service be sure to add a / to the end so all subdirectories and files are included
# Last pattern wins so any negative cases can be put with no owners on its own line after positive cases to not trigger auto-tagging
# Multiple owners can be set, i.e. /app/services/settings/ @Unity-Technologies/unity-dashboard-team @celim307

# Be sure to ask in `#devs-unity-dashboard` to invite your github handle (and your team's handle if applicable)
# to the repository with `write` permissions. Unity developers can contribute to the repo by default but the CODEOWNERS
# file will not tag members unless they are explicitly invited to the repository.

# repo root files
/* @Unity-Technologies/unity-dashboard-team
/yarn.lock
/package.json

# github
/.github/ @Unity-Technologies/unity-dashboard-team

# CORE
/app/core/components/app-header/ @Unity-Technologies/unity-dashboard-team

# analytics
/app/services/analytics/ @Unity-Technologies/jetpac-frontend-team
/app/packages/components/services/analytics/ @Unity-Technologies/jetpac-frontend-team
/app/packages/store/entities/analytics-* @Unity-Technologies/jetpac-frontend-team






# gametune service
/app/services/gametune/ @reuterm @pavelselin

# liveops service
/app/services/liveops/ @Unity-Technologies/jetpac-frontend-team
/app/packages/store/entities/liveops-* @Unity-Technologies/jetpac-frontend-team

# matchmaker service
/app/services/matchmaker/ @ajdaniel

# metered-billing service
/app/services/metered-billing/ @JBooker10 @gushiguera

# monetization service
/app/services/monetization/ @hanw-unity

# multiplay service
/app/services/multiplay/ @ajdaniel @addisonbgross

# relay service
/app/services/relay/ @ajdaniel @addisonbgross

# remote-config service
/app/services/remote-config/ @Bevilacqua
/app/packages/components/services/remote-config/ @Bevilacqua

# campaigns service
/app/services/campaigns/ @Bevilacqua

# settings service
/app/services/settings/ @Unity-Technologies/unity-dashboard-team @services-foundation-pod

# unity-simulation service
/app/services/unity-simulation/ @Unity-Technologies/ai-perception-services @RedTn @cherie-unity

# docs
/docs/ @Unity-Technologies/unity-dashboard-team

# helm
/helm/ @Unity-Technologies/unity-dashboard-team

# public
/public/ @Unity-Technologies/unity-dashboard-team

# scripts
/scripts/ @Unity-Technologies/unity-dashboard-team

# server
/server/ @Unity-Technologies/unity-dashboard-team

# test
/test/ @Unity-Technologies/unity-dashboard-team
/test/entities/

# tools
/tools/ @Unity-Technologies/unity-dashboard-team


* @chipcooks
